NEXT_PUBLIC_SUPABASE_URL=https://epkhqmhhzwlbxxypywau.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_aH8nn2WXrFXIJ3yr1o35Ug_hNyTnpqV
# Server-only: never expose this in NEXT_PUBLIC_ variables
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
